<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Scott Joyner's personal website homepage">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <meta name="author" content="Scott Joyner">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kipnerter.com</title>
	<meta name="description" content="A minimalist Bootstrap theme by StartBootstrap. Contains everything you need to get started building your website. All you have to do is change the text and images.">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Kipnerter</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <a href="https://medium.com/@scottjoyner">Medium</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course History<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="courses/csc-216.html">CSC 216</a>
                            </li>
                            <li>
                                <a href="courses/csc-230.html">CSC 230</a>
                            </li>
                            <li>
                                <a href="courses/csc-236.html">CSC 236</a>
                            </li>
                            <li>
                                <a href="courses/csc-246.html">CSC 246</a>
                            </li>
                            <li>
                                <a href="courses/csc-316.html">CSC 316</a>
                            </li>
                            <li>
                                <a href="courses/csc-326.html">CSC 326</a>
                            </li>
                            <li>
                                <a href="courses/csc-333.html">CSC 333</a>
                            </li>
                            <li>
                                <a href="courses/csc-481.html">CSC 481</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        
    <!-- Page Content -->
    <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Scott Joyner
                        <small>North Carolina State University</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">Home</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
        <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="kipnerter.com/img/headshot-summer-2019.jpg" alt="img/scott-headshot.jpg">
                </div>
                <div class="col-md-8">
                    <h1><strong>Development preferences</strong></h1>
                    <hr>
                    <p>As a fulltime student, I enjoy learning about the fundemental conecpts of Computer Science. In my free time I enjoy working on</p>
                    <ul>
                        <li>Full Stack Development</li>
                        <li>Node js and React</li>
                        <li>C++ for fast and Efficent Software tools</li>
                        <li>Financial Management and Risk Assesment</li>
                        <li>Security and Penetration Testing</li>
                        <li>Arch Linux development environment</li>
                    </ul>
                    <p>Welcome to my personal website. Feel free to look around. I enjoy working on my sideprojects a little too much sometimes. I am currently a Junior in Computer Science at NC State University. </p>
                </div>
            </div>
            <!-- /.row -->
            
            <hr>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Cryptocurrency</h4>
                    </div>
                    <div class="panel-body">
                        <p>Cryptocurrencies like Bitcoin and Litecoin were some of the first applications of decentralized computing. In the future I seek to develop systems to regulate and analyze markets. </p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Financial Software Tools</h4>
                    </div>
                    <div class="panel-body">
                        <p>The demand for banking software with the ability to make fast simple transactions is greater than ever before.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Security</h4>
                    </div>
                    <div class="panel-body">
                        <p>Software Security has been growing steadily in the past decade as companies embrace new software tools and resources that their businesses have come to rely on without knowing all the posible vulnerabilities that could be discovered to exploit their recources.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Kipnerter LLC, 2019 | <a href="https://commerce.coinbase.com/checkout/30399ade-40db-46b5-80b5-c9c0e93411b5" target="_blank" rel="nofollow">Donations</a></p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    </script>

</body>

</html>