kipnerter.com, www.kipnerter.com, preview.kipnerter.com {
    encode zstd gzip
    reverse_proxy web:3000
}

api.kipnerter.com {
    encode zstd gzip
    reverse_proxy api:8000
}

scottjoyner.dev, admin.scottjoyner.dev {
    encode zstd gzip
    reverse_proxy web:3000
}
